.about{
    // display: flex;
    // width: 100%;
    // height: 30vh;    
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-title{
    text-align: center;
    // display: table;
    // width: 25%;
    // height: 100%;

    p {
        color: #444;
        // display: table-cell;
        text-align: center;
        vertical-align: middle;
        margin : 0;
        font-size: 2.5em;
        font-weight: bold;    
    }
    p:after {
        content: "";
        display: block;
        width: 2.6em;
        border-bottom: 3px solid #333;
        margin: 1vh;
        margin-left: auto;
        margin-right: auto;
    }

}
.about-content{
    width: 70%;
    margin : 0 auto;
    display: flex;

    .about-left{
        width: 50%
    }
    .about-right{
        width: 50%
    }
    .about-article{
        width: 75%;
        height: 50%;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;        
    }
    h2 {
        margin: 1em;
        float: left;
        margin: 0;
        margin-bottom: 1em;
    }
    p {
        float: left;
        // text-align: center;
        font-size: 1.2em;
        vertical-align: middle;
        margin: 0;
    }
}

//  @media ( max-width: 720px )