.contact{    
    background: #f6f6f6;
    text-align: center;
    width: 100%;            
    margin: 0 auto;
}

.contact-title{
    display: table;
    width: 25%;
    height: 100%;    
    margin: 0 auto;

    p {
        color: #455c82;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        margin : 0;
        font-size: 2.5rem;
        font-weight: bold;    
    }

    p:after {
        content: "";
        display: block;
        width: 2.3em;
        border-bottom: 3px solid #82D580;
        margin: 1vh;
        margin-left: auto;
        margin-right: auto;
    }
}

.contact-content{
    width : 75%;
    margin-top: auto;
    margin-bottom: auto;

    .contact-container{        
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        .contact-info{
            font-size: 2vw;
            margin: 0;
            margin-left: 1%;            
        }
    
        // svg{
        //     width : 2vw;
        //     height:  2vh;
        // }
        a {
            color : black;
        }
    }    
}