$topHeight : 7vh;
body{
    font-family: dotum, arial, helvetica;
}
.home{
    padding-top : $topHeight;
    height: 100vh - $topHeight;
    background-image: url(../img/coding.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-container{
    width: 100%;
    height: 100%;
    background: rgba(2,2,2,0.3); // 뒤에 소수점을 추가하여 불투명도를 처리하면 에러가 발생
}
.greeting{
    align-items: center;
    padding-top: calc(50vh - 6vh - 3vw);
    display: flex;
    justify-content: center;
    
    p{        
        color: white;
        margin: 0;
        font-size: 3.5vw;
        font-weight: 550;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    }
}

@function property-value($fontSize){    
    @return  $fontSize*20.5;
}

@keyframes typing {    
    from { width: 0 }
    to { width: property-value(3.5vw) }    
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(255,255,255,.75); }
  }


  @media screen and (max-width: 768px) {
    .home{        
        height: 100vh;
        padding: 0;        
    }
  }