/****************************** 변수 ********************************/
$commonHeight : 6vh;
/*******************************************************************/
li:hover {
    opacity: 0.5;
}
#f6f6f6
.navbar
{
    background: rgba(0,0,0,0.6);
    width : 100vw;
    height : $commonHeight;
    display: table-cell;
    vertical-align: middle;
    padding : 0.5vh 0.5vw;
    position: fixed;
    z-index: 1;
    font-size: x-large;
    ul{
        list-style: none;
    }
}

.navbar-home{
    width: auto;
    float: left;
    margin-left: 3vw;
    line-height: $commonHeight;
      ul {
        display: inline;
        li {
            display: inline;            
            margin-right: 1vw;
            color: #fff;
        }
    }
    .navbar-close{
        // visibility: hidden;
        background: none;
        border : none;
        font-size: large;
        display: inline;            
        margin-right: auto;
        margin-left: auto;
        color: #fff;

    }
    
}

.navbar-menu{
    width: auto;
    display: inline;
    float: right;
    line-height: $commonHeight;
    ul {
        display: inline;
        li {
            display: inline;            
            margin-right: 3vw;
            color: #fff;
        }
    }
}

.sidebar-menu{
    visibility: hidden;
}