.project{
    background: #EFFBFB;
    display: flex;
    width: 100%;  
    height: 120vh;            
}

.project-title{
    display: table;
    width: 25%;
    height: 100%;

    p {
        color: #455c82;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        margin : 0;
        font-size: 2.5rem;
        font-weight: bold;    
    }

    p:after {
        content: "";
        display: block;
        width: 2.2em;
        border-bottom: 3px solid #A9BCF5;
        margin: 1vh;
        margin-left: auto;
        margin-right: auto;
    }
}

.project-content {
    // border-bottom: 1px solid #bcbcbc;
    width: 75%;
    height: 100%;

    .project-list{
        // border: solid 1px;
        background : #FAFAFA;
        box-shadow: 0px 2px 6px 0px grey;
        border-radius: 10px;
        display: inline-flex;
        width : 90%;
        height: 30%;        
        margin: 2% auto 0 auto; // 상, 우, 하, 좌
        

        .project-description{
            height: 100%;
            width: 60%;
            padding: 2% 5% 2% 5%;
            p{
                margin-top: 0;
            }
            a{
                color : black;
                margin-right: 1vw;
            }
            .project-subtitle{
                font-size: 2.5em;
            }
            .project-term{
                font-size: 1.3em;
            }
            .project-stack{
                font-size: 1.3em;
            }
            .project-comment{
                font-size: 1.3em;
            }            
            .project-link{
                font-size: 1.3em;
            }
        }

        .project-visual{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center; 
            // border-left: solid 1px gainsboro;            
            text-align: center;
            height: 100%;
            width: 40%;
        }
    }

    .project-visual{
        border-radius: 0px 10px 10px 0px;

        .project-image{
            width: 100%;
            height:100%;
        }
        .multiple{
            display : flex;
        }
        img {    
            border-radius: 0px 10px 10px 0px;
            width: 100%;
            height: 100%;
        }
        .gif0{
            border-radius: 0px 10px 0px 0px;
            width: 100%;
            height: 49.5%;
        }
        .gif1{
            border-radius: 0px 0px 10px 0px;
            width: 100%;
            height: 49.5%;
        }
    }
}